<header>
    <nav>
        <ul>
          <li><a href = "/Home/menu.cshtml"><img src="/img/header/Boton menu.png" alt="menu"></a></li>
          <li><a href = "/Usuario/Perfil.cshtml"><h2><img src="/img/header/perfil.png" alt="noti"></a></li>
          <li><a href = "/Usuario/Noti.cshtml"><h2><img src="/img/header/noti.png" alt="noti"></a></li>
        </ul>
      </nav>
</header>

<h1>@ViewBag.Titulo</h1>
@model List<Tramite>
@foreach (var t in Model)
    {
    <div> 
    <img src="" alt="cuadradito">
    <h3>@ViewBag.Pasos</h3>
    <img src="" alt="calendario">
    </div>
    }