<header>
    <nav>
        <ul>
          <li><a href = "/Home/menu.cshtml"><img src="/wwwroot/img/Boton menu.png" alt="menu"></a></li>
          <li><a href = "/Usuario/Perdil.cshtml"><h2><img src="/wwwroot/img/perfil.png" alt="noti"></a></li>
          <li><a href = "/Home/Landing.cshtml"><h2>¿Quiénes somos?</h2></a></li>
          <li><a href = "/Usuario/Noti.cshtml"><h2><img src="/wwwroot/img/noti.png" alt="noti"></a></li>
        </ul>
      </nav>
</header>

<h1>Guia de Tramite</h1>

<div>
<h3>Tramites para vos</h3>
</div>

<section>
@for(int i=0;i<= ViewBag.CantDeTramites;i++)
{
<div>
    <button type="button"></button>
    <button type="button"></button>
    <h6>@ViewBag.Tramite.Titulo</h6>
    <button type="button"></button>
</div>
}
</section>

<div>
    <h3>Mis Tramites</h3>

    
</div>