<header>
    <nav>
        <ul>
          <li><a href = "/Home/Menu"><img src="/wwwroot/img/Boton menu.png" alt="Menu"></a></li>
          <li><a href = "/Usuario/Perfil"><h2><img src="/wwwroot/img/perfil.png" alt="noti"></a></li>
          <li><a href = "/Home/Landing"><h2>¿Quiénes somos?</h2></a></li>
          <li><a href = "/Usuario/Noti"><h2><img src="/wwwroot/img/noti.png" alt="noti"></a></li>
        </ul>
      </nav>
</header>
<main>
