<header>
    <nav>
        <ul>
          <li><img src="/wwwroot/img/Boton menu.png" alt="menu"></li>
          <li><h2>¿Quiénes somos?</h2></li>
          <li><h2><img src="/wwwroot/img/noti.png" alt="noti"></h2></li>
        </ul>
      </nav>
</header>
<main>
<img src="/wwwroot/img/Culturi Logo.png" alt = "logo">
<div <a href="Inde">
    <h2>Tramites en proceso</h2>
    @for(int i; i<=Viewbag.CantDeTramites; i=0;)
    {
        <h5>@Viewbag.Tramite.NumeroDeTramite . @Viewbag.Tramite.NombreDelTramite</h5>
    }
</div>
<section>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>

</section>
</main>



