<body>
  <header>
    <nav>
      <ul>
        <li><img src="/wwwroot/img/Boton menu.png" alt="menu"></li>
        <li><h2>Culturi</h2></li>
        <li><h2>¿Quiénes somos?</h2></li>
      </ul>
    </nav>
    </header>
    <main>
        <h1>Tu compañero en la adaptación</h1>
        <div class = "Quienes Somos">
          <img src="" alt="">
          <h3>En Culturi ayudamos a las personas migrantes a adaptarse a su nuevo país. Brindamos apoyo, información y una comunidad que acompaña cada paso del proceso.</h3>
        </div>
        <img src="/wwwroot/img/Valores.png" alt="">
        <section>
          <div>
            <h2>Proporcionar información vital y facilitar el acceso a educación, salud y vivienda </h2>
          </div>         
          <div>
            <h2>Crear oportunidades de trabajo decente, reconocer habilidades y apoyar el emprendimiento </h2>
          </div>
        </section>
        <h1>Migrar abre puertas</h1>
        <h2>Nuestro equipo</h2>
        <section>
          <div>
            <img src="" alt="">
            <h2>Luciana Kampel</h2>
            <p>Leader</p>
          </div>
          <div>
            <img src="" alt="">
            <h2>Felipe Plat</h2>
            <p>Front-end</p>
          </div>
          <div>
            <img src="" alt="">
            <h2>Clara Wolman</h2>
            <p>Back-end</p>
          </div>
          <div>
            <img src="" alt="">
            <h2>Ramiro Pita</h2>
            <p>Diseño</p>
          </div>
          <div>
            <img src="" alt="">
            <h2>Toto</h2>
            <p>Fullstack</p>
          </div>
        </section>
    </main>
</body>
