@model Culturi.Models.ChatBotViewModel

@{
    ViewData["Title"] = "ChatBot";
}
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/site.css" />

<header class="custom-header">
    <nav>
        <img class="icon-back" src="/img/icons/back.png" alt="volver">
        <img class="icon-menu" src="/img/icons/menu.png" alt="menu">
        <img class="icon-bell" src="/img/icons/bell.png" alt="notificaciones">
    </nav>
</header>

<div class="chat-container">

    

    <div class="chat-messages">
        @if (Model.History != null)
        {
            foreach (var message in Model.History)
            {
                if (message.IsUserMessage)
                {
                    <div class="message-user">
                        <p>@message.Content</p>
                    </div>
                }
                else
                {
                    <div class="message-bot">
                        <p>@message.Content</p>
                    </div>
                }
            }
        }
    </div>

    <form method="post" action="/ChatBot/ChatBot" class="chat-form">
        <div class="input-wrapper">
            <textarea name="userMessage" class="input-message"></textarea>
        </div>
        <button type="submit" class="send-btn">Enviar</button>
    </form>

</div>