@{
   
    ViewData["Title"] = "Iniciar Sesión";
}
<header class="custom-header">
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="header-center">
        <h1><strong>culturi</strong></h1>
        <h2>¿Quiénes somos?</h2>
    </div>
</header>

<div id="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>

<div id="sidebar-menu" class="menu-container sidebar-closed">
    <div class="menu-header">
        <button class="back-btn" onclick="toggleMenu()">←</button>
        <h1>MENÚ</h1>
    </div>

    <div class="menu-links">
        <a href="@Url.Action("Login", "Usuario")">Iniciar sesión</a>
        <a href="@Url.Action("Registro", "Usuario")">Registrarse</a>
    </div>
</div>


<div class="login-container">
    <div class="login-card">
        <h2>Iniciar Sesión</h2>

        @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
        {
            <p class="message">@ViewBag.Mensaje</p>
        }

        <form method="post" asp-action="Login" asp-controller="Usuario">
            <label for="NombreUsuario">Nombre de usuario</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu usuario" required />

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required />

            <button type="submit" class="btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</div>




