@{
    ViewData["Title"] = "Registro";
}


<header class="custom-header">
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="header-center">
        <h1><strong>culturi</strong></h1>
        <h2>¿Quiénes somos?</h2>
    </div>
</header>

<div id="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>

<div id="sidebar-menu" class="menu-container sidebar-closed">
    <div class="menu-header">
        <button class="back-btn" onclick="toggleMenu()">←</button>
        <h1>MENÚ</h1>
    </div>

    <div class="menu-links">
        <a href="@Url.Action("Login", "Usuario")">Iniciar sesión</a>
        <a href="@Url.Action("Registro", "Usuario")">Registrarse</a>
    </div>
</div>

<div class="registro-container">
    <h2>Registrarse</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
    {
        <p class="message">@ViewBag.Mensaje</p>
    }

    <form method="post" asp-action="Registro" class="registro-form">
        <label>Nombre:</label>
        <input type="text" name="Nombre" required />

        <label>Nombre de usuario:</label>
        <input type="text" name="NombreUsuarioIngresado" required />

        <label>Idioma de preferencia:</label>
        <select name="Idioma" required>
            <option value="">Seleccione un idioma</option>
            <option>Español</option>
        </select>

        <label>Fecha de nacimiento:</label>
        <input type="date" name="FechaNacimiento" required />

        <label>País de origen:</label>
<div class="radio-row">
    <label><input type="radio" name="id_paisOrigen" value="4" required /> España</label>
    <label><input type="radio" name="id_paisOrigen" value="2" /> Chile</label>
    <label><input type="radio" name="id_paisOrigen" value="3" /> Uruguay</label>
</div>

<label>País de llegada:</label>
<div class="radio-row">
    <label><input type="radio" name="id_paisDestino" value="1" required /> Argentina</label>
</div>


        <label>Fecha de emigración:</label>
        <input type="date" name="fechaMigracion" required />

        <label>Email de contacto:</label>
        <input type="email" name="Email" required />

        <label>Contraseña:</label>
        <input type="password" name="Contrasena" required />

        <button type="submit">Crear cuenta</button>
    </form>
</div>


